VITE_SUPABASE_URL=https://iamixsmahqjmudpazlck.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhbWl4c21haHFqbXVkcGF6bGNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYwOTAwMTIsImV4cCI6MjEwMTY2NjAxMn0.IFXZYKtfnjkACaolKOvS-NNGGvt92JHHwoaqJqZ-qd0
VITE_API_URL=http://localhost:8000
VITE_WS_URL=ws://localhost:8000
VITE_STUN_SERVER=stun:stun.l.google.com:19302
